#view_title1{font-family: 'Nanum Gothic', sans-serif; font-size: 20px; font-weight: 700; padding: 20px 0 10px 20px; background: #f7f7f7; border-top: 2px solid #00abcd;}
#view_title2{overflow: hidden;; font-family: 'Nanum Gothic', sans-serif;padding:10px 20px 20px 20px; background: #f7f7f7; border-bottom: 1px solid #ccc;}
#view_title2 li{float: left;}
#view_title2 li:nth-last-of-type(1){float: right;}
#view_content{padding: 50px 30px;font-family: 'Nanum Gothic', sans-serif;border-bottom: 1px solid #999; margin-bottom: 40px;}

#view_button{float: right; margin-bottom: 150px;}
#view_button a{font-family: 'Nanum Gothic', sans-serif; padding: 10px 20px;
background: rgba(0, 171,205,.7); color: #fff; margin-left: 5px; transition: .3s;}
#view_button a:hover{background: #f7f7f7; color: #666;}





