
.main{margin-top: 50px; background: url(../images/sub2/sub2mainx2.jpg) center no-repeat; background-size: cover; width: 100%; height: 150px;}
#content h2{position: absolute; width: 100%; text-align: center; top: -140px; left: 0; color: #fff; font-family: 'Nanum Gothic', sans-serif; font-size: 24px; }
#content{ padding: 0 5%; position: relative;}
#content i{margin-right: 10px; font-size: 14px; color: #00abcd;}
#content p{margin-bottom: 50px; font-family: 'Nanum Gothic', sans-serif; font-size: 16px; text-align: center;}
#content p:nth-of-type(1){margin-top: 50px;}
span{color: #00abcd;}
#content .svg{width: 50px; height: 50px; display: block; margin: 0 auto;}
#content .rnd_text{text-align: center; line-height: 2em;}
#content .rnd_text p:nth-of-type(2){text-align: justify;}
#content .con2{position: relative;}
#content h3{margin-bottom: 70px; text-align: center; font-weight: bold; font-size: 28px; font-family: 'Nanum Gothic', sans-serif;}
#content h3::after{content: ''; background: #00abcd; border-radius: 2px; height: 4px; width: 40px; position: absolute; top: 50px; left: 50%; margin-left: -20px;}
h4{margin-left: 10px; margin-bottom: 70px; font-weight: bold; font-size: 22px; font-family: 'Nanum Gothic', sans-serif;}
h4::before{content: ''; background: #00abcd; height: 22px; width: 4px; position: absolute; top: 5px; left:0 }
#content .first{position: relative;}
#content .second{position: relative;}
#content .third{position: relative;}
#content .con2 img{width: 80px; height: 80px; display: block; margin: 0 auto;}
#content .con2 p{text-align: justify; line-height: 2em;}
