#content .content_area{position: relative;}

/* #content .content_area .slideMenu{width: 1200px; 
    margin-bottom: 110px; overflow: hidden; padding: 20px 0;}
#content .content_area .slideMenu li{border-bottom: 1px solid #ccc; float: left; width: 240px; text-align: center; 
font-size: 18px; font-family: 'Nanum Gothic', sans-serif; position: relative;}
#content .content_area .slideMenu a{color: #999;}
#content .content_area .slideMenu li:hover a{color: #333;}
#content .content_area .slideMenu li a{display: block; transition: all .5s; margin-bottom: 20px;}
#content .content_area .slideMenu a::after{content: ""; width: 0px; 
height: 0;  background: #00abcd; border-radius: 50%; position: absolute;
top: -20px; left:120px; transition: all .4s; }   
#content .content_area .slideMenu li:hover a::after{content: ""; display: block; width: 10px; 
   height: 10px;  background: #00abcd; border-radius: 50%; position: absolute;
top: -20px; left:120px;} */


.faq{width:1200px; border-bottom:1px solid #ddd;font-size:12px}  
.faq h3{font-size: 20px; color: #666;}
.faq .hgroup{position:relative;margin:0 0 10px 0; font-family: 'Nanum Gothic', sans-serif;}  
.faq .hgroup .all{position:absolute; top:5px; right:10px; color:#333; text-decoration:none;}  
.faq ul{margin-bottom: 50px;padding:0;list-style:none}  

.faq .q{font-size: 16px; font-family: 'Nanum Gothic', sans-serif; margin:0;border-top:1px solid #ddd; position: relative;}  
.faq .q a.trigger{display:block;padding:20px 15px;background:#fafafa;color:#333;text-align:left;text-decoration:none ;}  
.faq .hide .q a.trigger{font-weight:normal;background:none}  
.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus{background:#00abcd;color:#fff} 
.faq .last{border-bottom: 1px solid #ddd;}
.faq .q span{color: #00abcd; display: block; position: absolute; right: 15px; top:20px} 
.faq .a{padding:50px 15px;line-height:1.5; font-size: 16px;
    margin-top:0px; margin-bottom:0px;  
     display: none; font-family: 'Nanum Gothic', sans-serif;} 
.faq .q:hover span{color: #fff}
.faq .llast{margin-bottom: 150px;}
