#content .content_area{position: relative;}

#content .content_area strong{display: block; text-align: center; font-size: 46px; 
   margin-bottom: 80px; font-family: 'Roboto', sans-serif;} 

#content  p{font-size: 26px; font-family: 'Nanum Myeongjo', serif;
    text-align: center; margin-bottom: 100px;}
#content span{color: #00abcd; font-weight: bold;}
#content  i{color: #00abcd; font-size: 18px; margin: 0 20px;}
#content .content_area div{overflow: hidden; width: 1200px;}
#content .content_area div img{float: left; width: 400px; margin-bottom: 20px;}
#content .content_area div .ceo_text{width: 800px; float: right; }

#content .content_area .ceo_text p{font-size: 16px; font-family: 'Nanum Gothic', sans-serif; text-align: justify; line-height: 1.5em;
margin-bottom: 30px;}
#content .content_area div .ceo_text .fir{font-size: 20px; margin-bottom: 20px;}
#content .content_area div strong{font-size: 20px; margin-bottom: 150px;}
